
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1 class="title">Miedinette•</h1>
            </div>
            <div class="col-md-3">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="{{ path('home') }}" class="nav-link">
                            Accueil
                        </a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item"> 
                            <a class="nav-link" href="{{ path('logout') }}">
                                Se déconnecter
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('login') }}">
                                Se connecter
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('register') }}">
                                S'inscrire
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="{{ path('home') }}" class="nav-link">
                            Signaler un bug
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 class="title">Le menu :</h3>
                <div class="btn-wrapper profile">
                    <a target="_blank" href="http://lamiedinette.blogspot.com/" class="btn btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Le site de la miedinette">
                        http://lamiedinette.blogspot.com/
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
