
<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="100">
    <div class="container">

        <div class="navbar-translate">
            <a class="navbar-brand" href="{{ path('home') }}">
                <span class="title">Miedinette•</span>
                <ul class="sliding-title">
                        <li class="sliding">Encore de la courgette ?</li>
                        <li>La courgette c'est bon</li>
                        <li>Courgette forever</li>
                        <li>Du rab de courgette ?</li>
                        <li>Courgette or not courgette</li>
                </ul>
            </a>
            <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a>
                            Miedinette•
                        </a>
                    </div>
                    <div class="col-6 collapse-close text-right">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="tim-icons icon-simple-remove"></i>
                        </button>
                    </div>
                </div>
            </div>

            <ul class="navbar-nav">

                {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}">
                            Se connecter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('register') }}">
                            S'inscrire
                        </a>
                    </li>
                {% endif %}

                {% if is_granted("ROLE_USER") %}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Bonjour {{ app.user.username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('user_show',{id:app.user.id}) }}">Mes informations</a>
                                <a class="dropdown-item" href="{{ path('order_index') }}">Mes commandes</a>
                                <a class="dropdown-item" href="{{ path('order_histo') }}">Mon historique de commandes</a>
                                {% if is_granted("ROLE_ADMIN") %}
                                    <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{{ path('admin_order_index') }}">Administration</a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('logout') }}">Se déconnecter</a>
                            </div>
                        </li>

                    {% if is_granted("ROLE_ADMIN") %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Administration
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                    <a class="dropdown-item" href="{{ path('admin_dish_category_index') }}">Types de plats</a>
                                    <a class="dropdown-item" href="{{ path('admin_dish_index') }}">Plats</a>
                                    <a class="dropdown-item" href="{{ path('admin_dessert_index') }}">Desserts</a>
                                    <a class="dropdown-item" href="{{ path('admin_order_index') }}">Commandes</a>
                                    <a class="dropdown-item" href="{{ path('admin_user_index') }}">Utilisateurs</a>
                                </div>
                            </li>
                    {% endif %}

                {% endif %}

            </ul>

            {% if app.user %}
                {% if app.request.attributes.get('_route') != 'order_new' %}
                    <a class="btn btn-sm btn-primary" href="{{ path('order_new') }}">COMMANDER</a>
                {% endif %}
            {% endif %}

        </div>

    </div>
</nav>
