
<div class="card">
    <div class="card-header">
        <h4 class="card-title">
            Menu du {{ "now"|date("d/m/Y") }}
        </h4>
    </div>
    <div class="card-body">
        <h6>La miedinette vous propose :</h6>
        <p class="card-text">{{ menu_management.parseMiedinette|raw }}</p>
    </div>
    <div class="card-footer">
        {% if date_management.getOrderStatus %}
            Commande ouverte<br />
            Cloture  dans <span id="countdown">{{ date_management.getOrderCloseDate }}</span>
            {% if is_granted("ROLE_USER") %}
                <br />
                <a class="btn btn-sm btn-secondary btn-block" href="{{ path('order_new') }}">Commander</a>
            {% endif %}
        {% else %}
            <strong>Commande cloturée</strong><br />
            Ouverture dans <span id="countdown">{{ date_management.getOrderOpenDate }}</span>
        {% endif %}
    </div>
</div>
