{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Se connecter{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Se connecter</h1>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="account-wall">
                <form action="{{ path('login') }}" method="post" class="form-signin">
                    <div class="form-group">
                        <label>Identifiant ou Email</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Identifiant ou Email" required autofocus />
                    </div>
                    <div class="form-group">
                        <label>Mot de passe</label>
                        <input type="password" id="password" name="_password" class="form-control" placeholder="Mot de passe" required />
                    </div>

                    <button class="btn btn-success btn-block" type="submit">SE CONNECTER</button>
                </form>
            </div>
        </div>
    </div>

    <a href="{{ path('register') }}" class="text-center btn btn-sm btn-default">S'inscrire</a>

{% endblock %}
