{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - S'inscrire{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-body">
            <h1 class="card-title">S'inscrire</h1>
            <div class="account-wall">
                {{ include('@User/_form.html.twig', {'button_label': "S'INSCRIRE"}) }}
            </div>

        </div>
    </div>

    <a href="{{ path('login') }}" class="text-center btn btn-sm btn-default">Se connecter</a>

{% endblock %}
