{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Accueil{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h1 class="card-title">
                Commande miedinette
            </h1>
        </div>
        <div class="card-body">
            <p class="lead">Pour commander à la miedinette, cliquez sur le bouton "Commander" et remplissez le formulaire.</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-success" href="{{ path('order_new') }}" role="button">Commander</a>
        </div>
    </div>

{% endblock %}
