{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Modifier mes informations {% endblock %}

{% block body %}

    <h2>Mes informations</h2>

    <div class="card">
        <div class="card-header br">
            <p class="card-title">
                Modifier mes informations
            </p>
        </div>
        <div class="card-body">

            {{ include('@User/_form.html.twig', {'button_label': 'MODIFIER MES INFORMATIONS'}) }}

        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col">
                    <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-sm btn-default">Retour</a>
                </div>
                <div class="col text-right">
                    {{ include('@User/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
