{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Mes informations {% endblock %}

{% block body %}

    <h2>Mes informations</h2>

    <div class="card">
        <div class="card-header br">
            <p class="card-title">
                Profil de {{ user.username }}
            </p>
            <p class="card-subtitle text-muted">
                {{ user.id }}
                {{ user.isActive ? '<span class="badge badge-success">Actif</span>' : '<span class="badge badge-danger">Inactif</span>' }}
            </p>
        </div>
        <div class="card-body">
            <p class="card-text">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Adresse e-mail</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>Numéro de téléphone</th>
                            <td>{{ user.phone }}</td>
                        </tr>
                        <tr>
                            <th>Commandes</th>
                            <td>{{ user.getOrders | length }}</td>
                        </tr>
                    </tbody>
                </table>
            </p>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col">
                    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-sm btn-default">Modifier mes informations</a>
                </div>
                <div class="col text-right">
                    {{ include('@User/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
