 /* countdown */
 #countdown {
     font-size: 20px;
     font-weight: 100;
     color: #fff;
}
 .countdown {
     display: table-cell;
     font-weight: normal;
 }
 .countdown .item {
     display: inline-block;
     vertical-align: bottom;
     position: relative;
     font-family: 'Open Sans', cursive;
     font-weight: 700;
     font-size: 160px;
     line-height: 180px;
     text-align: center;
     color: #B7B7B7;
     border-radius: 10px;
     margin: 0 10px 0 0;
     padding: 0 10px;
     background: #2A2A2A;
     background: -webkit-linear-gradient(#2A2A2A, #000);
     background: linear-gradient(#2A2A2A, #000);
     overflow: hidden;
 }
 .countdown .item-ss {
     font-size: 50px;
     line-height: 70px;
 }
 .countdown .item:after {
     content: '';
     display: block;
     height: 1px;
     border-top: 3px solid #111;
     width: 100%;
     position: absolute;
     top: 50%;
     left: 0;
 }
 .countdown .label {
     text-transform: uppercase;
     display: block;
     position: absolute;
     font-family: 'Open Sans', cursive;
     font-weight: 700;
     line-height: normal;
     right: 6px;
     bottom: 4px;
     font-size: 14px;
     color: #B9B9B9;
 }
 .countdown .item-hh .label,
 .countdown .item-mm .label,
 .countdown .item-ss .label {
     display: none;
 }


