
 .br {
	border: 2px solid red;
}

.card {
    .card-header {
        padding: 0 !important;
    }
    .card-title {
        color: #fff !important;
        font-size: 20px !important;
        padding: 15px !important;
        margin: 0 auto !important;
    }
    .card-footer {
        padding: 10px;
    }

    .card-register .card-footer {
        margin-bottom: 5px;
        margin-top: 5px;
    }
}



