
ul.sliding-title {
    //display: block;
    display: inline-flex;
    list-style: none;
    height: 1px;
    pointer-events: none;
    text-align: left;
    z-index: 10;
    border: 1px solid transparent;
    letter-spacing: 4px;
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-weight: 100;
    color: #fff;
    li {
        width: 100%;
        text-align: left;
        position: absolute;
        padding-left: 0;
        opacity: 0;
        top: -60px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        transition-timing-function: ease;
        -webkit-transition-timing-function: ease; /* Safari and Chrome */
    }
    li.sliding {
        opacity: 1;
        top: 0;
        color: #fff;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
        transition-timing-function: ease;
        -webkit-transition-timing-function: ease; /* Safari and Chrome */
    }
}
