<form method="post" action="{{ path('order_delete', {'id': order.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer la commande #{{ order.id }} ?');" class="form-inline">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order.id) }}">
    <button class="btn btn-sm btn-danger"><i class="fa fa-sm fa-trash"></i></button>
</form>
