{{ form_start(form) }}
    {{ form_errors(form) }}
<div class="row">
    <div class="col">{{ form_row(form.dish) }}</div>
    <div class="col">{{ form_row(form.dish_add) }}</div>
</div>
<div class="row">
    <div class="col">{{ form_row(form.dessert) }}</div>
    <div class="col">{{ form_row(form.dessert_add) }}</div>
</div>
<button class="btn btn-success btn-block">{{ button_label|default('ENEREGISTRER MA COMMANDE') }}</button>
{{ form_end(form) }}
