
<div class="card">
    <div class="card-header">
        <p class="card-title">
            {% if (histo) %}
                Mes commandes passées
            {% else %}
                Mes commandes du jour
            {%  endif %}
        </p>
    </div>
    <div class="card-body">

        <table class="table">
            <thead>
            <tr>
                <th>#Id</th>
                <th>Plat</th>
                <th>Dessert</th>
                <th>Date / Statut</th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>
                        {{ order.getDish }}
                        {% if (order.getDishAdd != '') %}
                            <br /> <small>{{ order.getDishAdd }}</small>
                        {%  endif %}
                    </td>
                    <td>
                        {{ order.getDessert }}
                        {% if (order.getDessertAdd != '') %}
                            <br /> <small>{{ order.getDessertAdd }}</small>
                        {%  endif %}
                    </td>
                    <td>
                        {% if (histo) %}
                            {{ order.date ? order.date|date('d/m/y H:i:s') : '' }}
                        {% else %}
                            {{ order.date ? order.date|date('H:i:s') : '' }}
                        {%  endif %}
                        <br />
                        {% if not (order.getStatus) %}
                            En attente
                        {% else %}
                            Envoyée
                        {%  endif %}
                    </td>
                    <td>
                        <a href="{{ path('order_show', {'id': order.id}) }}" class="btn btn-sm btn-secondary"><i class="fa fa-sm fa-eye"></i></a>
                    </td>
                    <td>
                        <a href="{{ path('order_edit', {'id': order.id}) }}" class="btn btn-sm btn-secondary"><i class="fa fa-sm fa-pencil"></i></a>
                    </td>
                    <td>
                        {{ include('@Order/_delete_form_list.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">
                        {% if (histo) %}
                            Vous n'avez pas d'historique de commande
                        {% else %}
                            Vous n'avez pas encore commandé aujourd'hui
                        {%  endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
