{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Modifier ma commande{% endblock %}

{% block body %}

    <h2> Modifier ma commande </h2>
    <div class="card">
        <div class="card-header">
            <p class="card-title">Commande #{{ order.id }} - {{ order.date ? order.date|date('d-m-Y H:i:s') : '' }}</p>
        </div>
        <div class="card-body">
            {{ include('@Order/_form.html.twig', {'button_label': 'MODIFIER'}) }}
        </div>
    </div>

    <a href="{{ path('order_index') }}"  class="btn btn-sm btn-default">Liste de mes commandes</a>

{% endblock %}
