{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Mon historique de commandes{% endblock %}

{% block body %}

    <h2>Mon historique de commandes</h2>

    {{ include('@Order/_list.html.twig', {orders: orders, histo: true}) }}

    <a href="{{ path('order_new') }}" class="btn btn-sm btn-success">COMMANDER</a>

{% endblock %}
