{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Mes commandes{% endblock %}

{% block body %}

    <h2>Mes commandes</h2>

    {{ include('@Order/_list.html.twig', {orders: todayOrders, histo: false}) }}

    <a href="{{ path('order_new') }}" class="btn btn-sm btn-success">COMMANDER</a>
    <a href="{{ path('order_histo') }}" class="btn btn-sm btn-default">Mon historique de commandes</a>

{% endblock %}
