{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Nouvelle commande{% endblock %}

{% block body %}

    <h2>Commander</h2>

    <div class="card">
        <div class="card-header">
            <p class="card-title">Nouvelle commande</p>
        </div>
        <div class="card-body">
            <blockquote class="blockquote">
                Choisissez un plat et un dessert. <br />
                Puis cliquez sur "ENREGISTRER MA COMMANDE" pour passer commande.
            </blockquote>
            {{ include('@Order/_form.html.twig') }}
        </div>
    </div>

    <a href="{{ path('order_index') }}" class="btn btn-sm btn-default">Liste de mes commandes</a>

    
{% endblock %}
