{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Détail de ma commande {% endblock %}

{% block body %}


    <h2>Commande</h2>

    <div class="card">
        <div class="card-header">
            <p class="card-title">Commande #{{ order.id }} - {{ order.date ? order.date|date('d/m/Y à H:i:s') : '' }}</p>
        </div>
        <div class="card-body">

            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ order.id }}</td>
                </tr>

                <tr>
                    <th>Utilisateur</th>
                    <td>
                        {{ order.user.username }}
                        <small> - {{ order.getNumber }}</small>
                    </td>
                </tr>

                <tr>
                    <th>Date</th>
                    <td>{{ order.date ? order.date|date('d/m/Y à H:i:s') : '' }}</td>
                </tr>

                <tr>
                    <th>Plat</th>
                    <td>
                        {{ order.getDish.name }}
                        {% if (order.getDishAdd != '') %}
                            <small> - {{ order.getDishAdd }}</small>
                        {%  endif %}
                    </td>
                </tr>

                <tr>
                    <th>Dessert</th>
                    <td>
                        {{ order.getDessert.name }}
                        {% if (order.getDessertAdd != '') %}
                            <small> - {{ order.getDessertAdd }}</small>
                        {%  endif %}
                    </td>
                </tr>

                <tr>
                    <th>Statut</th>
                    <td>
                        {% if (order.getStatus) %}
                            Envoyée
                        {% else %}
                            En attente
                        {%  endif %}
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        {% if not (order.getStatus) %}
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <a href="{{ path('order_edit', {'id': order.id}) }}" class="btn btn-sm btn-secondary">Modifier</a>
                    </div>
                    <div class="col text-right">
                        {{ include('@Order/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        {%  endif %}
    </div>

    <a href="{{ path('order_index') }}"  class="btn btn-sm btn-secondary">Liste de mes commandes</a>

{% endblock %}


