<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Miedinette{% endblock %}</title>
		{% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/theme.css') }}">
		{% endblock %}
		
	</head>
    <body class="landing-page">

    {{ include('_partials/_header.html.twig') }}

    <div class="wrapper">
        <div class="page-header">

            <div class="content">
                <div class="container">
                    <div class="row row-grid justify-content-between align-items-center text-left">
                        <div class="col-lg-8 col-md-6 offset-lg-0">
                            {% block body %}{% endblock %}
                            <!--
                            <div class="sliding-title">
                                <ul>
                                    <li class="sliding">Encore de la courgette</li>
                                    <li>La courgette c'est bon</li>
                                    <li>Du rab de courgette ?</li>
                                    <li>Courgette forever</li>
                                    <li>Courgette or not courgette</li>
                                </ul>
                            </div>-->
                        </div>

                        <div class="col-lg-4 col-md-6">
                            {{ include('_partials/_menu.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
	</div>

    {{ include('_partials/_footer.html.twig') }}

    {% block javascripts %}
        <script src="{{ asset('build/app.js') }}"></script>
        <script src="{{ asset('build/themejs.js') }}"></script>
        <!-- Countdown -->
        <script type="text/javascript">
		    $(document).ready(function() {
			    $("#countdown")
				    .countdown(" {{ date_management.getOrderStatus ? date_management.getOrderCloseDate : date_management.getOrderOpenDate }}", function (event) {
					    $(this).text(
						    event.strftime('%I:%M:%S')
					    );
				    });
		    });
        </script>
    {% endblock %}

	</body>
</html>
