{% block DishesType_label %}{% endblock %}

{% block DishesType_widget %}

    <div class="row">
        <div class="col-md-5">
            {{ form_widget(form) }}
        </div>
        <div class="col-md-3">
            <a href="#" class="collection-up btn btn-outline-primary" title="Move fruit up">
				<i class="fas fa-arrow-up"></i>
			</a>
            <a href="#" class="collection-down btn btn-outline-primary" title="Move fruit down">
				<i class="fas fa-arrow-down"></i>
			</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="collection-remove btn btn-outline-danger" title="Delete fruit">
				<i class="fas fa-minus"></i>
			</a>
            <a href="#" class="collection-add btn btn-outline-success" title="Add fruit">
				<i class="fas fa-plus"></i>
			</a>
        </div>
        <div class="col-md-1">
            <a href="#" class="collection-duplicate btn btn-outline-primary" title="Duplicate fruit">
				<i class="far fa-clone"></i>
			</a>
        </div>
    </div>

{% endblock %}